.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('./1.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.MainContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
   padding:
  clamp(80px, calc(80px + (33 * ((100vw - 320px) / 1120))), 113px)
  0px
  clamp(80px, calc(80px + (33 * ((100vw - 320px) / 1120))), 113px)
  clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);

}
.Left{
    display: flex;
    justify-content: left;
    width: 100%;
    flex-direction: column;
  gap: clamp(30px, calc(30px + (70 * ((100vw - 320px) / 1120))), 100px);

}
.LeftTop{
    display: flex;
    justify-content: left;
    flex-direction: column;

}
.LeftTop img{
    width: 100%;
    max-width: 264px;
    height: 100%;
    max-height: 158px;
}
.LeftBottom{
    display: flex;
    justify-content: left;
    flex-direction: column;
   gap: clamp(30px, calc(30px + (20 * ((100vw - 320px) / 1120))), 50px);

}
.LeftBottom h1{
    font-size: var(--fs-68);
    font-weight: 400;
    color: #FFFFFF;
    line-height: 120%;
    font-family: var(--font-modernline);
}
.LeftBottom p{
    font-size:  var(--fs-16);
    font-weight: 400;
    color: #FFFFFF;
    font-family: var(--font-poppins);
    line-height: 140%;
    width: 40%;
}
.RightDesk{
    display: flex;
    justify-content: center;
    width: 100%;
}
.RightMobile{
    display: none;
}
@media (max-width: 640px) {
   .main{
    height: auto;
   }
   .MainContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 80px 24px;
    gap: 40px;
   }
   .Left{
    align-items: center;
    text-align: center;
    gap: 30px;
   }
   .LeftBottom h1{
    font-size: 24px;
    width: 100%;
   }
   .LeftBottom{
    gap: 30px;
   }
   .LeftBottom p{
    width: 100%;
    font-size: 14px;
   }
   .RightDesk{
    display: none;
   }
   .RightMobile{
    display: flex;
    justify-content: center;
    width: 100%;
   }
   .button{
    padding: 7.5px 24.5px;
    background-color: #1B1B1B;
    font-family: var(--font-poppins);
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }
   .LeftTop img{
    max-width: 130px;
    max-height: 78px;
   }
}
@media (min-width: 641px) and (max-width:920px) {
    .main{
        height: 130svh;
    }
    .MainContainer{
        flex-direction: column;
         justify-content: center;
    align-items: center;
        gap: 40px;
    }
    .Left{
        align-items: center;
        text-align: center;
        gap: 40px;
        justify-content: center;
    }
    .LeftBottom{
        justify-content: center;
        align-items: center;
    }
    .LeftBottom p{
        width: 70%;
    }
}
@media (min-width: 921px) and (max-width: 1200px) {
    .main{
        padding-right: 40px;
        height: 140svh;
    }
    
}
@media (min-width: 1201px) and (max-width: 1440px) {
   .main{
    height: 140svh;
   }
    
}