.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-bottom: clamp(80px, calc(80px + (70 * ((100vw - 320px) / 1120))), 150px);
}
.MainConatiner {
  display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
  gap: clamp(50px, calc(50px + (80 * ((100vw - 320px) / 1120))), 130px);

  flex-direction: row;
}
.LeftContainer {
  display: flex;
  justify-content: left;
  width: 50%;
}
.LeftContainer img {
  width: 100%;
  height: 100%;
  max-width: 891px;
  max-height: 790px;
}
.RightContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
.RightContainer h2 {
  font-size: var(--fs-34);
  font-weight: 400;
  color: #414141;
  line-height: 140%;
  width: 55%;
  font-family: var(--font-pp-hatton);
}
.RightContainer p {
  font-size: var(--fs-16);
  font-weight: 400;
  color: #414141;
  width: 70%;
  font-family: var(--font-poppins);
  line-height: 140%;
}
.Button {
  padding: clamp(7.5px, calc(7.5px + (7.5 * ((100vw - 320px) / 1120))), 15px)
    clamp(24.5px, calc(24.5px + (43.5 * ((100vw - 320px) / 1120))), 68px);

  width: fit-content;
  background-color: #62442d;
  border: none;
  color: #ffffff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 640px) {
  .Main {
    padding: 0px 24px 80px 24px;
  }
  .MainConatiner {
    flex-direction: column;
    gap: 40px;
  }
  .RightContainer {
    width: 100%;
    gap: 20px;
  }
  .LeftContainer {
    width: 100%;
  }
  .RightContainer h2 {
    width: 100%;
    font-size: 22px;
  }
  .RightContainer p {
    width: 100%;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .Button {
    font-size: 14px;
    padding: 7.5px 24.5px;
  }
}
@media (min-width: 641px) and (max-width: 920px) {
  .MainConatiner {
    flex-direction: column;
  }
  .RightContainer,
  .LeftContainer {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
