

html {
  font-size: 18px;
  line-height: 32px;

  background: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
  background-color: #fff;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

}

.whatsapp {
  width: clamp(45px, calc(45px + (35 * ((100vw - 320px) / 1120))), 80px);
height: clamp(45px, calc(45px + (35 * ((100vw - 320px) / 1120))), 80px);

  background: #F6F2EB;
  border-radius: 99%;
  position: fixed;   
  bottom: 120px;     
  right: 90px;     
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;     
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
}
.whatsapp img{
  width: 100%;
  height: 100%;
  max-width: 45px;
  max-height: 45px;
  object-fit: cover;
  object-position: center;
}
.whatsapp a {
  display: inline-block;
  line-height: 0;
}

@media (min-width: 320px) and (max-width: 620px){
  .whatsapp {
    width: 50px;
    height: 50px;
    bottom: 20px;     
    right: 20px;     
  }
  .whatsapp img{
    max-width: 30px;
    max-height: 30px;
  }
}
@media (min-width: 621px) and (max-width: 920px){
  .whatsapp {
    width: 50px;
    height: 50px;
    bottom: 20px;     
    right: 20px;     
  }
  .whatsapp img{
    max-width: 30px;
    max-height: 30px;
  }
}
@media (min-width: 921px) and (max-width: 1200px){
  .whatsapp {
    width: 50px;
    height: 50px;
    bottom: 20px;     
    right: 20px;     
  }
  .whatsapp img{
    max-width: 30px;
    max-height: 30px;
  }
}
@media (min-width: 1201px) and (max-width: 1550px){
  .whatsapp {
   width: 50px;
    height: 50px;
    bottom: 20px;     
    right: 20px;     
  }
  
}