.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f0ea;
  padding-top: clamp(60px, calc(60px + (99 * ((100vw - 320px) / 1120))), 159px);
  padding-bottom: clamp(60px, calc(60px + (94 * ((100vw - 320px) / 1120))), 154px);
}
.MainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: clamp(25px, calc(25px + (5 * ((100vw - 320px) / 1120))), 30px);

  flex-direction: column;
}
.Top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Top h3 {
  font-size: var(--fs-34);
  font-weight: 400;
  color: #414141;
  line-height: 140%;
  font-family: var(--font-pp-hatton);
}
.Middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Middle p {
  font-size: var(--fs-16);
  font-weight: 400;
  color: #414141;
  font-family: var(--font-poppins);
  line-height: 140%;
  text-align: center;
  width: 60%;
}
.Button {
  padding: clamp(7.5px, calc(7.5px + (7.5 * ((100vw - 320px) / 1120))), 15px)
    clamp(24.5px, calc(24.5px + (43.5 * ((100vw - 320px) / 1120))), 68px);

  width: fit-content;
  background-color: #62442d;
  border: none;
  color: #ffffff;
  font-family: var(--font-poppins);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 640px) {
 .main{
    padding: 55px 24px;
 }
 .MainContainer{
    gap: 25px;
 }
 .Middle{
    justify-content: left;

 }
 .Middle p{
    width: 100%;
    font-size: 14px;
 }
 .Top h3{
    font-size: 22px;
 }
 .Button{
    font-size: 14px;
    padding: 7.5px 24.5px;
 }

}
 